*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.font-600{
  font-weight: 600;
}

/* General */

/* Container Divisore */
.container-divisore{
  height: 50px;
  width: 50%;
  margin: auto;
}
.container-divisore::after{
  content: "";
  display: block;
  clear: both;
}
.container-divisore hr.bianco{
  border: 3px solid white;
  border-radius: 5px;
}
.container-divisore hr.blu{
  border: 3px solid #2C3E4F;
  border-radius: 5px;
}
.container-divisore .separatore-sinistra,
.container-divisore .separatore-centro,
.container-divisore .separatore-destra{
  width: 33.3%;
  float: left;
}

/* Stile Titoli */
h2{
  font-size: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 25px;
}
h3{
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 25px;
}



/* Header */

/* Header Top */

.header-top{
  background-color: #2C3E4F;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.header-top .col-lg-5{
  /* height: 100%; */
  /* border: 1px solid black; */
}

.header-top h1,
.header-top ul li a{
  text-transform: uppercase;
  color: white;
}
.header-top h1{
  padding: 15px 0px;
}
.header-top ul{
  margin: 40px 0px;
}
.header-top ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 15px;
}

.header-top a:hover{
  color: #27A48D;
  text-decoration: none;
}


/* Header Bottom */
.header-bottom{
  background-color: #1BBC9B;
  color: white;
  margin-top: 100px;
}
.header-bottom .col-lg-10{
  /* border: 1px solid green; */
  height: 700px;
}

.header-bottom img{
  margin: 100px 0px 25px 0px;
  height: 35%;
}

.header-bottom p{
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}


/* Main */

/* Section 1 */
.section-1{
  background-color: white;
  color: #2C3E4F;
}
.section-1 .container-1{
  width: 50%;
  margin: auto;
  /* height: 350px; */
  /* background-color: orange; */
  /* border: 1px solid grey; */
}
.section-1 .container-1 h3{
  margin-top: 100px;
}


.section-1 .container-2{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 75px;
}
.section-1 .container-2 .col-lg-4{
  /* border: 1px solid grey; */
  /* height: 300px; */
}

.section-1 .container-2 img{
  width: 100%;
  object-fit: contain;
  /* margin: 15px 0px; */
  border-radius: 15px;
}


.section-1 .container-2 i{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 15px;
  background-color: #3DB197;
}
.contenitore:hover .overlay{
  opacity: 0.9;
}
.contenitore{
  width: 90%;
  height: 90%;
  margin: 15px auto;
  border-radius: 15px;
  position: relative;
}




/* Section 2 */
.section-2{
  background-color: #1BBC9B;
  color: white;
}
.section-2 .container-1,
.section-2 .container-3{
  width: 80%;
  margin: auto;
  /* height: 150px; */
  /* border: 1px solid green; */
}
.section-2 .container-2 .col-lg-4{
  /* border: 1px solid green; */
  /* height: 250px; */
}

.section-2 .container-1 h3{
  margin-top: 100px;
}
.section-2 .container-2{
  margin: 30px 0px;
}

.section-2 .container-2 p{
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
}
.section-2 .container-3{
  margin-bottom: 100px;
}
.section-2 .container-3 a{
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 25px;
  font-size: 20px;
  text-decoration: none;
}
.section-2 .container-3 i{
  margin-right: 20px;
}

.section-2 .container-3:hover a{
  color: black;
  background-color: white;
}


/* Section 3 */
.section-3{
  background-color: white;
}
.section-3 .container-1 {
  color: #2C3E4F;
}
.section-3 .container-1 h3{
  margin-top: 100px;
}
.section-3 .container-1 .col-lg-4{
  /* height: 150px; */
  /* border: 1px solid grey; */
}
.section-3 .container-2 .col-lg-6{
  /* height: 600px; */
  /* border: 1px solid grey; */
}

.section-3 .container-2 {
  margin-top: 25px;
}
.section-3 .container-2 form{
  margin-top: 15px;
}
.section-3 .container-2 form input,
.section-3 .container-2 form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: none;
}
.section-3 .container-2 form button{
  padding: 10px 15px;
  margin-bottom: 100px;
  background-color: #1BBC9B;
  border: 1px solid #1BBC9B;
}



/* Footer */

/* Footer Top */
.footer-top{
  background-color: #2C3E4F;
  color: white;
}
.footer-top .container-footer{
  width: 80%;
  margin: auto;
}
.footer-top .col-lg-4{
  /* border: 1px solid darkblue; */
  /* height: 250px; */
}

.footer-top h4{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0px 25px 0px;
}
.footer-top p{
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 50px;
}

.footer-top ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 5px;
}
.footer-top ul li a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.footer-top li a:hover{
  color: black;
  background-color: white;
}

.footer-top span a{
  color: #1BBC9B;
}


/* Footer Bottom */
.footer-bottom{
  background-color: #19262F;
}
.footer-bottom .col-lg-4{
  /* border: 1px solid lightblue; */
  /* height: 50px; */
}
.footer-bottom p{
  color: white;
  text-align: center;
  padding: 25px 0px;
}


/* Media Query */
@media screen and (max-width: 992px) {
  .header-top h1{
    font-size: 30px;
  }
}
