*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */

/* Header Top */
.header-top{
  height: 100px;
  background-color: #2C3E4F;
}
.header-top .col-lg-5{
  height: 100%;
  border: 1px solid black;
}

/* Header Bottom */
.header-bottom{
  background-color: #1BBC9B;
}
.header-bottom .col-lg-6{
  border: 1px solid green;
  height: 800px;
}



/* Main */

/* Section 1 */
.section-1{
  background-color: white;
}
.section-1 .container-1{
  width: 50%;
  height: 150px;
  border: 1px solid grey;
}
.section-1 .container-2{
  width: 80%;
}

.section-1 .container-2 .col-lg-4{
  border: 1px solid grey;
  height: 300px;
}


/* Section 2 */
.section-2{
  background-color: #1BBC9B;
}
.section-2 .container-1,
.section-2 .container-3{
  width: 30%;
  margin: auto;
  height: 150px;
  border: 1px solid green;
}
.section-2 .container-2 .col-lg-4{
  border: 1px solid green;
  height: 250px;
}


/* Section 3 */
.section-3{
  background-color: white;
}

.section-3 .container-1 .col-lg-4{
  height: 150px;
  border: 1px solid grey;
}
.section-3 .container-2 .col-lg-6{
  height: 600px;
  border: 1px solid grey;
}
